{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ post.picture.url }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{{ post.user.profile.picture.url }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            {% if post.user.profile.first_name == None and post.user.profile.last_name == None %}
                                <p class="subtitle is-3" style="font-weight: bold">@{{ post.user.username }}</p>
                            {% else %}
                                <p class="title is-4">{{ post.user.profile.first_name }} {{ post.user.profile.last_name }}</p>
                                <p class="subtitle is-6">@{{ post.user.username }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {{ post.caption }}
                        <p>
                            {% for tag in post.tags.all %}
                                <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                            {% endfor %}
                        </p>
                        <time datetime="{{ post.posted|date:'Y-m-d\TH:i:s' }}">{{ post.posted|date:"H:i A - j M Y" }}</time>
                    </div>
                </div>
            </div>
            <br>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ user_obj.picture.url }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" placeholder="Add a comment..."></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button">Post comment</button>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}


