{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="section">
        <div class="container">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-256x256">
                        {% if profile.picture %}
                            <img style="width: 190px; height: 190px;" class="is-rounded"
                                 src="{{ profile.picture.url }}">
                        {% else %}
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                        {% endif %}
                    </figure>
                </div>
                <div class="media-content">
                    <h1 class="title is-2" style="font-weight: bold">@{{ profile.user }}</h1>
                    {% if profile.first_name != None and profile.last_name != None %}
                        <h1 class="subtitle is-3">{{ profile.first_name }} {{ profile.last_name }}</h1>
                    {% endif %}
                    <hr>
                    {% if profile.profile_info != None %}
                        <p class="subtitle is-5">{{ profile.profile_info }}</p>
                    {% endif %}
                    {% if user.is_authenticated and user == profile.user %}
                        <a href="{% url 'edit-profile' %}" class="button is-link" style="width: 200px">Edit Profile</a>
                    {% endif %}
                    {% if user.is_authenticated and user != profile.user %}
                        {% if follow_status == True %}
                            <a href="{% url 'follow' profile.user 0 %}" class="button is-dark" style="width: 200px">
                                Un Follow
                            </a>
                        {% else %}
                            <a href="{% url 'follow' profile.user 1 %}" class="button is-danger" style="width: 200px">
                                Follow
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="font-size: 20px">Tweets</p>
                            <p class="title" style="font-size: 40px">{{ posts_count }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading" style="font-size: 20px">Followers</p>
                                <p class="title" style="font-size: 40px">{{ followers_count }}</p>
                            </div>
                        </div>
                        <div>
                            <p class="heading" style="font-size: 20px">Following</p>
                            <p class="title" style="font-size: 40px">{{ following_count }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading" style="font-size: 20px">Likes</p>
                            <p class="title" style="font-size: 40px">{{ posts_likes }}</p>
                        </div>
                    </div>
                </nav>
            </article>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="tabs is-right">
                <ul>
                    <li class="{% if url_name == 'profile' %} is-active {% endif %}">
                        <a class="title is-4" href="{% url 'profile' profile.user %}">
                            <i class="material-icons">image</i>
                            Posts
                        </a>
                    </li>
                    <li class="{% if url_name == 'profile_favorite' %} is-active {% endif %}">
                        <a class="title is-4" href="{% url 'profile_favorite' profile.user %}">
                            <i class="material-icons">archive</i>
                            Saved
                        </a>
                    </li>
                </ul>
            </div>
            <div class="columns is-mobile is-multiline is-centered">
                {% for post in posts %}
                    <div class="column is-one-quarter">
                        <div class="box">
                            <figure class="image is-256x256">
                                <a href="{% url 'post_details' post.id %}"><img src="{{ post.picture.url }}"
                                                                                alt="Image"></a>
                            </figure>
                        </div>
                    </div>
                {% empty %}
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <i class="material-icons" style="font-size: 150px">image_not_supported</i>
                        <h1 style="font-size: 50px; margin: 0; font-style: italic    ">
                            No images :(
                        </h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
